# ============================================================================ #
# Author(s):
# - Tancredi-Paul Grozav <paul@grozav.info>
# ============================================================================ #

# Ignore all binaries
bin/

# ============================================================================ #
