# ============================================================================ #
# Author(s):
# - Tancredi-Paul Grozav <paul@grozav.info>
# ============================================================================ #
# This is where Vagrant keeps it's things for the VMs it provisiones
.vagrant

# files generated for the new cluster
configs
# ============================================================================ #
